<tr>
  <td><%= comment.id -%></td>
  <td><%= link_to comment.commentable_name, comment.commentable -%></td>
  <td><%= comment.user_full_name -%></td>
  <td><%= truncate(comment.body, length: 20) -%></td>
  <td><%= comment.created_at.to_s(:db) -%></td>
  
  <td class="text-right">
    <% if policy(comment).update? %>
      <%= link_to edit_comment_path(comment), class: 'btn btn-link btn-sm' do %>
        <i class="fa fa-edit" aria-hidden="true"></i> Edit
      <% end %>
    <% end %>
  
    <% if policy(comment).destroy? %>
      <%= link_to comment, {method: :delete, class: 'btn btn-link btn-sm', data: { confirm: 'Are you sure?' }} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
      <% end %>
    <% end %>
  </td>
</tr>