<div class="card card-project">
  <div class="card-header">
    <div class="row">
      <div class="col-7">
        <h1><%= project.name -%></h1>
      </div>
      <div class="col-5"> 
        <span class="project-status project-status-<%= project.status -%>"><%= project.status -%></span>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-user"></i> <a href="#"><%= project.owner_full_name -%></a></li>
          <li class="list-inline-item"><i class="fa fa-clock-o"></i> <%= link_to "#{time_ago_in_words(project.created_at)} ago", project -%></a></li>
        </ul>
      </div>
    </div>

    <div class="row">      
      <div class="col-md-7 col-12">
        <div class="card-text mb-4"><%= project.description -%></div>
      </div>

      <div class="col-md-5 col-12">        
        <div class="row no-gutters">
          <div class="col-6 col-md-6 card card-level card-level-left mb-0">
            <div class="card-header">
              <span>Estimated level of effort</span>
            </div>
            <div class="card-block">
              <span><%= project.estimated_effort_level.to_i -%></span>
            </div>
          </div>
  
          <div class="col-6 col-md-6 card card-level card-level-right mb-0">
            <div class="card-header active">
              <span>Actual level of effort</span>
            </div>
            <div class="card-block active">
              <span><%= project.actual_effort_level.to_i -%></span>
            </div>
          </div> 
        </div>  
      </div>
    </div>
  </div>
</div>

<!--
<tr>
  <td><%= project.id -%></td>
  <td><%= link_to project.name, project -%></td>
  <td><%= project_type_badge(project.type) -%></td>
  <td><%= project.owner_full_name -%></td>
  <td><%= project_status_badge(project.status) -%></td>
  <td><%= link_to project.comments_count, project_comments_path(project) -%></td>
  <td><%= project.created_at.to_s(:db) -%></td>
  <td class="text-right">
    <% if policy(project).update? %>
      <%= link_to edit_project_path(project), class: 'btn btn-link btn-sm' do %>
        <i class="fa fa-edit" aria-hidden="true"></i> Edit
      <% end %>
    <% end %>
  
    <% if policy(project).destroy? %>
      <%= link_to project, {method: :delete, class: 'btn btn-link btn-sm', data: { confirm: 'Are you sure?' }} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
      <% end %>
    <% end %>
  </td>
</tr>
-->