<tr>
  <td><%= project.id -%></td>
  <td><%= link_to project.name, project -%></td>
  <td><%= project_type_badge(project.type) -%></td>
  <td><%= project_status_badge(project.status) -%></td>
  <td class="text-right">
    <%= link_to edit_project_path(project), class: 'btn btn-link' do %>
      <i class="fa fa-edit" aria-hidden="true"></i> Edit
    <% end %>
  
    <%= link_to project, {method: :delete, class: 'btn btn-link', data: { confirm: 'Are you sure?' }} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
    <% end %>
  </td>
</tr>