<div class="container-fluid">
  <h3><%= @project.name -%></h3>

  <h5>Type</h5>
  <p><%= @project.type -%></p>

  <h5>Status</h5>
  <p><%= @project.status -%></p>

  <h5>Description</h5>
  <p><%= @project.description -%></p>
  
  <h5>Estimated Effort Level (Hours)</h5>
  <p><%= @project.estimated_effort_level -%>

  <h5>Actual Effort Level (Hours)</h5>
  <p><%= @project.actual_effort_level -%>

  <h5>Created At</h5>
  <p><%= @project.created_at -%></p>

  <h5>Updated At</h5>
  <p><%= @project.updated_at -%></p>
</div>  